<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>one-player</title>

    <link rel="stylesheet" href="../css/style-8d0ab347cf.css" />

    <link rel="stylesheet" href="../css/popup.css" />
    <link rel="stylesheet" href="../css/font.css" />
    <link href="../css/ionic.min.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="one-player">
        <div class="song-pic clickable">
            <img src="../imgs/default_music_pic_163.jpg" />
        </div>
        <div class="one-player-info">
            <div class="one-player-play-bar">
                <span class="play icon-play"></span>
            </div>
            <div class="one-player-name">
                <h2 class="singer-name clickable"></h2>
                <span class="song-name clickable" ng-bind="歌曲名"></span>
            </div>
            <div class="progress">
                <div class="progress-loaded"></div>
                <div class="progress-played"></div>
            </div>
            <div class="one-player-control-panel-sub">
                <div class="other-control">
                    <div class="play-volume control-item">
                        <i class="icon-volumemute"></i>
                        <div class="volume-bar">
                            <div class="current-volume"></div>
                        </div>
                    </div>
                    <div class="play-replay control-item">
                        <i class="icon-replay"></i>
                    </div>
                    <div class="play-type control-item">
                        <i class="icon-loop-one"></i>
                    </div>

                    <label class="toggle toggle-assertive">
                        <input id="lrc-check" type="checkbox" />
                        <div class="track">
                            <div class="handle"><span class="Text">词</span></div>
                        </div>
                    </label>
                </div>
                <div class="play-time-bar">
                    <p>- <span class="play-time"></span></p>
                </div>
            </div>
            <div class="one-player-lrc">
                <div class="one-player-lrc-wrap"></div>
            </div>
            <div class="one-player-control-panel-main">
                <span id="bit-rate"></span>
                <span class="play-like icon-like" title="加入喜欢">
                    <img class="add-like-loading" src="./imgs/loading.gif" alt="loading"/>
                </span>
                <span class="play-prev icon-rewind" title="上一曲"></span>
                <span class="play-next icon-fast-forward" title="下一曲"></span>
                <span class="play-list icon-menu" title="播放列表"></span>
            </div>
        </div>
        <div class="one-player-song-list">
            <div id="loading-song-list" class="loading">加载中...</div>
        </div>
    </div>
    <script src="../js/popup.js"></script>
</body>

</html>